@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*section:before {
  content: "";
  display: block;
  clear: both;
}*/

.wrapper {
  width: 1280px;
  background-color: #f00;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 100;
  height: 200px;
  width: 1280px;
}

h1 {
  width: 1280px;
  height: 150px;
  padding-top: 50px;
  padding-left: 50px;
  font-size: 50px;
  font-family: "HG明朝E", "ＭＳ Ｐ明朝", "ヒラギノ明朝";
  background-image: url(../img/pierce-05.jpg)
}

h1 a {
  text-decoration: none;
  color: #fff;
}

nav {
  width: 1280px;
  height: 50px;
  margin: 0 auto;
  background-color: #fff;
}

.demo {
  width: 1280px;
  height: 200px;
}

nav ul li {
  width: 25%;
  float: left;
  list-style-type: none;
  text-decoration: none;
  border-bottom: solid 1px #ff99cc;
}

nav ul li a {
  line-height: 50px;
  text-align: center;
  color: #c71585;
  text-decoration: none;
  background-color: #fff;
  border-right: solid 1px #ff99cc;
  font-size: 2em;
  font-family: "HG明朝E", "ＭＳ Ｐ明朝", "ヒラギノ明朝";
  display: block;
  transition-duration: 0.5s;
}

nav ul li:last-child a {
  border-right: none;
}

nav ul li a:hover {
  background-color: #ff99cc;
  color: #fff;
}

.tit2 {
  width: 1280px;
  height: 100px;
  padding-top: 30px;
  background-color: #fff;
}

h2 {
  text-align: center;
  font-size: 2em;
  font-family: "HG明朝E", "ＭＳ Ｐ明朝", "ヒラギノ明朝";
}

.tit3 {
  width: 1280px;
  height: 75px;
  padding-top: 20px;
  clear: both;
  background-color: #fff;
}

h3 {
  text-align: center;
  font-size: 2em;
  padding-right: 20px;
  font-family: "HG明朝E", "ＭＳ Ｐ明朝", "ヒラギノ明朝";
}

#about {
  width: 1280px;
  height: 675px;
  background-color: #0f0;
}

.text1 {
  width: 680px;
  height: 600px;
  padding: 0 20px;
  background-color: #fff;
  float: left;
  overflow: auto;
}

.img1 {
  width: 600px;
  height: 600px;
  background-image: url(../img/rium-07.jpg);
  float: right;
}

.imgs1 ul li{
  float: left;
  list-style-type: none;
  text-decoration: none;
}

.img2 {
  width: 600px;
  height: 600px;
  background-image: url(../img/rium-07.jpg);
  float: right;
}

.imgs2 ul li{
  float: left;
  list-style-type: none;
  text-decoration: none;
}

#gellary {
  width: 1280px;
  height: 725px;
  background-color: #fff;
}

.imgstop {
  width: 1280px;
  height: 600px;
  padding: 0 15px;
  overflow: auto;
}

.imgs1 {
  width: 1250px;
  height: 300px;
}

.imgs2 {
  width: 1250px;
  height: 300px;
}

.imga {
  width: 250px;
  height: 300px;
  padding: 10px;
  float: left;
}

#eve {
  width: 1280px;
  height: 675px;
}

.img2 {
  width: 600px;
  height: 600px;
  background-image: url(../img/rium-07.jpg);
  float: left;
}

.text2 {
  width: 680px;
  height: 600px;
  padding: 0 20px;
  background-color: #fff;
  float: right;
  overflow: auto;
}

#cont {
  width: 1280px;
  height: 675px;
  background-color: #fff;
}

.text3 {
  width: 740px;
  height: 600px;
  float: left;
}

.img3 {
  width: 540px;
  height: 600px;
  background-image: url(../img/pierce-11.jpg);
  float: right;
}

footer {
  width: 1280px;
  height: 50px;
  text-align: center;
  padding-top: 20px;
  background-color: #fff;
}

.box {
  position: relative;
}

@-webkit-keyframes modify{
      0% { padding-top: 200px; margin-top: -200px; }
    100% { padding-top: 0; margin-top: 0; }
}
@keyframes  modify{
      0% { padding-top: 200px; margin-top: -200px; }
    100% { padding-top: 0; margin-top: 0; }
}

#about:target {
    -webkit-animation: modify 0.1s;
    animation: modify 0.1s;
}

#gellary:target {
    -webkit-animation: modify 0.1s;
    animation: modify 0.1s;
}

#eve:target {
    -webkit-animation: modify 0.1s;
    animation: modify 0.1s;
}

#cont:target {
    -webkit-animation: modify 0.1s;
    animation: modify 0.1s;
}



.prof {
  width: 740px;
  height: 350px;
  padding: 0 20px;
  overflow: auto;
}



table {
  border-spacing: 5px 10px;
  font-size: 0.75em;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;
  width: 100%;
}

th {
  padding: 10px;
  text-align: left;
  background-color: #320200;
  vertical-align: top;
  color: #fff;
  widows: 150px
}

td {
  padding: 10px;
  background-color: #eee;
  vertical-align: top;
}

.button {
  background-color: #fff;
  text-align: right;
}

.button input {
  width: 150px;
  margin-left: 5px;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}
